
$p5:5px;
$p10:10px;
$p15:15px;
$p20:20px;
$p25:25px;
$p30:30px;
$p35:35px;
$p40:40px;
$p45:45px;
$p50:50px;

$f12:12px;
$f14:14px;
$f16:16px;
$f18:18px;
$f20:20px;
$f22:22px;
$f24:22px;

$r2:2px;
$r4:4px;
$r6:6px;
$r50:50%;
$r100:100%;
